* {
    margin: 0;
    padding: 0;
    font-family: nunito, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/tech3-compressed.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 45%;
    position: relative;
}

.left {
    /* margin: 13rem 5rem; */
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-15%, -50%);
}

.left h1 {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 0.2rem;
}

.left p {
    color: #fff;
    margin-bottom: 3rem;
}

.left h5 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
}

.btn-1 {
    font-size: 1.4rem;
    padding: 0.9rem 3rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(44, 131, 182);
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.btn-1:hover {
    background-color: rgb(30, 97, 136);
    color: #fff;
}

.btn-2 {
    font-size: 1rem;
    padding: 0.9rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(55, 186, 215);
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.btn-2:hover {
    background-color: rgb(29, 147, 173);
    color: #fff;
}

.btn-2 i {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.right-wrapper {
    width: 55%;
    height: 100vh;
    position: relative;
}

.right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

form div {
    margin: 1.2rem 0;
}

form div input {
    display: block;
    width: 42rem;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #000;
    border-radius: 2px;
    font-size: 1rem;
    align-content: flex-end;
}

.right button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(55, 186, 215);
    color: #fff;
}

.right button:hover {
    background-color: rgb(29, 147, 173);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e5e5e;
    margin: 2rem 0;
}

.footer a {
    padding-left: 0.3rem;
    text-decoration: none;
    color: #5e5e5e;
}

.language {
    display: flex;
    flex-flow: column;
}

.language select {
    /* margin-top: 0.5rem; */
    width: 19rem;
}

.timezone {
    display: flex;
    flex-flow: column;
}

.timezone select {
    /* margin-top: 0.5rem; */
    width: 19rem;
}

.select-option {
    display: flex;
    justify-content: space-between;
}


.my-select {
    outline: none !important;
    border: none;
    border-bottom: 0.1rem solid #000;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}












@media (max-width: 1500px) {
    .left {
        /* margin: 13rem 5rem; */
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-15%, -50%);
    }

    .timezone select {
        width: 17rem;
    }

    .language select {
        width: 17rem;
    }
}

@media (max-width: 1390px) {
    .timezone select {
        width: 16rem;
    }

    .language select {
        width: 16rem;
    }

    form div input {
        width: 40rem;
    }

}


@media (max-width: 1310px) {
    .timezone select {
        width: 16rem;
    }

    .language select {
        width: 16rem;
    }

    .left-wrapper {
        height: 100vh;
    }

    .right-wrapper {
        height: 100vh;
    }

    .footer {
        margin: 2rem 0;
    }

    form div input {
        width: 38rem;
    }
}

@media (max-width: 1200px) {
    form div input {
        width: 35rem;
    }
} 

@media (max-width: 1150px) {
    .timezone select {
        width: 14.5rem;
    }

    .language select {
        width: 14.5rem;
    }

    form div input {
        width: 32rem;
    }
}

@media (max-width: 1060px) {
    .timezone select {
        width: 13rem;
    }

    .language select {
        width: 13rem;
    }

}

@media (max-width: 1000px) {
    .timezone select {
        width: 10.3rem;
    }

    .language select {
        width: 10.3rem;
    }

    .buttons {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    .btn-1 {
        margin-bottom: 1rem;
    }

    .left-wrapper {
        height: 100vh;
    }

    .right-wrapper {
        height: 100vh;
    }

    .footer {
        margin: 2rem 0;
        font-size: 0.9rem;
    }

    form div input {
        width: 27rem;
    }

}

@media (max-width: 890px) {
    form div input {
        width: 25rem;
    }
}

@media (max-width: 800px) {
    .select-option {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .timezone select {
        width: 100%;
    }

    .language select {
        width: 100%;
    }

    .container {
        position: relative;
        display: flex;
        flex-flow: column;
    }

    .left-wrapper {
        width: 100%;
        height: 50vh;
    }

    .left h1 {
        font-size: 5rem;
    }

    .right-wrapper {
        width: 100%;
        height: 50vh;
        position: relative;
    }

    .right {
        position: absolute;
        margin: 14rem 0rem; 
    }

    .footer {
        margin: 2rem 0;
        font-size: 0.9rem;
    }

    form div input {
        width: 35rem;
    }
}

@media (max-width: 630px) {
    form div input {
        width: 30rem;
    }
}

@media (max-width: 540px) {
    form div input {
        width: 25rem;
    }
}

@media (max-width: 500px) {
    form div input {
        width: 22rem;
    }

    .left h1 {
        font-size: 4rem;
    }
}

@media (max-width: 425px) {
    form div input {
        width: 20rem;
    }
}