* {
    margin: 0;
    padding: 0;
    font-family: nunito, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/tech3-compressed.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 45%;
    position: relative;
}

.left {
    margin: 12rem 5rem;
}

.left h1 {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 0.2rem;
}

.left p {
    color: #fff;
    margin-bottom: 3rem;
}

.left h5 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
}

.btn-1 {
    font-size: 1.4rem;
    padding: 0.9rem 3rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(44, 131, 182);
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.btn-1:hover {
    background-color: rgb(30, 97, 136);
    color: #fff;
}

.btn-2 {
    font-size: 1rem;
    padding: 0.9rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(55, 186, 215);
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.btn-2:hover {
    background-color: rgb(29, 147, 173);
    color: #fff;
}

.btn-2 i {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.right-wrapper {
    width: 55%;
    height: 100%;
}

.right {
    margin: 3rem 7rem;
}

.right h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

form div {
    margin: 1rem 0;
}

form div label {
    font-size: 1rem;
    margin-right: 1rem;
}

form div input {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #000;
    border-radius: 2px;
    font-size: 1rem;
    align-content: flex-end;
}

.password {
    margin-bottom: 2rem;
}

.language select {
    margin-bottom: 1rem;
}

.right button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(55, 186, 215);
    color: #fff;
}

.right button:hover {
    background-color: rgb(29, 147, 173);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e5e5e;
    margin: 2rem 0;
}

.footer a {
    padding-left: 0.3rem;
    text-decoration: none;
    color: #5e5e5e;
}

.my-select {
    border: none !important;
    outline: none !important;
}




@media (max-width: 1310px) {
    .left {
        margin: 12rem 3rem;
    }

    .right {
        margin: 5rem 3rem;
    }

    .left-wrapper {
        height: 100vh;
    }

    .right-wrapper {
        height: 100vh;
    }

    .footer {
        margin: 2rem 0;
    }
}

@media (max-width: 1060px) {
    .left {
        margin: 7rem 3rem;
    }
}

@media (max-width: 1000px) {
    .left {
        margin: 5rem 3rem;
    }

    .buttons {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    .btn-1 {
        margin-bottom: 1rem;
    }

    .left-wrapper {
        height: 100vh;
    }

    .right-wrapper {
        height: 100vh;
    }

    .footer {
        margin: 2rem 0;
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-flow: column;
    }

    .left-wrapper {
        width: 100%;
        height: 40%;
    }

    .left {
        margin: 10rem 5rem;
    }

    .left h1 {
        font-size: 5rem;
    }

    .right-wrapper {
        width: 100%;
        height: 60%;
    }

    .right {
        margin: 5rem 3rem;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-1 {
        margin-bottom: 0;
        padding: 0.9rem 3rem;
    }

    .footer {
        margin: 2rem 0;
        font-size: 0.9rem;
    }
}

@media (max-width: 520px) {
    .buttons {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    .btn-1 {
        margin-bottom: 1rem;
    }

    .left {
        margin: 11rem 2rem;
    }

    .left h1 {
        font-size: 5rem;
    }

    .left-wrapper {
        width: 100%;
        height: 50%;
    }

    .right-wrapper {
        width: 100%;
        height: 50%;
    }

    .footer {
        font-size: 0.9rem;
    }
}